<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav ms-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contato">Contato</a>
      </li>
    </ul>
  <div class="position-absolute top-0 end-0">
    <button class="btn btn-outline-danger me-2 mt-2" [disabled]="!readLocalStorageToken()" (click)="deslogar()">Sing Out</button>
  </div>
    
</nav>

<router-outlet></router-outlet>

<div id="footer" class="footer fixed-bottom">
  <div class="container">
    <p class="text-muted credit mb-1" style="color:#fff">Email: gabriel.farina2358@gmail.com  -  WhatsApp: (49) 984297233</p>
    <p class="text-muted credit mb-1" style="color:#fff">GitHub: https://github.com/GabrielFar  -  Linkedin: https://www.linkedin.com/in/gabrielbochifarina/</p>
  </div>
</div>