<div class="mt-5">
    <section class="shadow-lg p-3 mb-5 bg-body rounded container-sm" >
        <h2>Login</h2>

        <div class="m-2 d-block mt-3">
            <label class="text-secondary d-block mb-1" for="idEmail">E-Mail Address</label>
            <input type="text" id="idEmail">
        </div>        

        <div class="m-2">
            
            <label class="text-secondary mb-1 mt-3" for="idPassword">Password</label>
            <a href="" >Forgot Password?</a>
            <input type="text" id="idPassword" class="d-block"> 
            
        </div>
        
        <div class="m-2 d-block">
            <input type="checkbox" name="nmRememberMe" id="idRememberMe" class="me-1">
            <label for="idRememberMe">Remember Me</label>
            <button class="btn btn-primary">Login</button>
        </div>

        <p></p>

        <div class="d-flex justify-content-center">
            <p>Don't have an account? <a href="" class="text-black">Create One</a></p>
        </div>
    </section>

    <div class="d-flex justify-content-center">
        <p class="">Copyright © 2017-2021 ― Your Company</p>
    </div>
</div>